:root {
    --clr-txt: #ededed;
    --clr-bg: #213547;
    --clr-bg-alt: #172935;
    --clr-accent: #6480c5;

    --spacing: 0.625rem;
    --border-width: .125rem;
    --border-radius-lg: .5rem;
    --border-radius: .25rem;

    --header-height: 6rem;
    --menu-burger-width: 2rem;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--clr-txt);
    background-color: var(--clr-bg);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    scroll-behavior: smooth;
}

@media (prefers-color-scheme: light) {
    :root {
        --clr-txt: #213547;
        --clr-bg: #ededed;
        --clr-bg-alt: #e9ecf7;
        --clr-accent: #3b4d7c;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

*[hidden] {
    display: none!important;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

header {
    z-index: 10;
    position: sticky;
    height: var(--header-height);
    top: 0;
}

header,
footer {
    background-color: var(--clr-bg);
    box-shadow: 0 0 1rem rgb(0 0 0 / .25);
    padding-block: calc(2 * var(--spacing));
}

header .logo {
    color: var(--clr-accent);
}

header .ext-links {
    display: flex;
    gap: var(--spacing);
}

header .ext-logo {
    color: inherit;
    transition: .3s color;
}

header .ext-logo:hover {
    color: var(--clr-accent);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header + nav {
    z-index: 11;
    position: fixed;
    top: var(--header-height);
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: var(--spacing) calc(2 * var(--spacing));
    background-color: var(--clr-bg-alt);
    transform: translateX(-100%);
    transition: .3s transform;
}

header + nav:hover {
    transform: translateX(0);
}

header + nav .nav-burger {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 100%;
    top: 0;
    padding: 5px;
    background-color: var(--clr-accent);
    color: var(--clr-bg);
}

header + nav .nav-burger svg {
    width: var(--menu-burger-width);
    height: var(--menu-burger-width);
}

footer {
    text-align: center;
}

section {
    margin: 0;
    padding: calc(4 * var(--spacing)) 0;
}

section:nth-child(even) {
    background-color: var(--clr-bg-alt);
}

section h2 {
    scroll-margin: calc(var(--header-height) + var(--menu-burger-width) + var(--spacing));
}

hr {
    width: max(10rem, calc(100% - (40 * var(--spacing))));
    margin: calc(6 * var(--spacing)) auto;
    border: none;
    border-top: var(--border-width) solid var(--clr-accent);
}

a {
    color: var(--clr-accent);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin: var(--spacing) 0;
}

img {
    display: block;
    max-width: 100%;
    pointer-events: none;
}

figure {
    border: var(--border-width) solid var(--clr-accent);
    border-radius: var(--border-radius-lg);
    overflow: hidden;
    margin: calc(2 * var(--spacing)) 0;
}

figure figcaption {
    border-top: var(--border-width) solid var(--clr-accent);
}

figure figcaption pre[class*="language-"] {
    margin: 0;
    border-radius: 0;
}

figure figcaption p {
    padding-inline: var(--spacing);
}

code {
    display: inline-block;
    padding: .25rem .5rem;
    background: var(--clr-accent);
    color: var(--clr-bg);
    border-radius: var(--border-radius);
}

.container {
    width: max(0px, calc(100% - (2 * var(--spacing))));
    max-width: 60rem;
    margin-inline: auto;
}

pre[class*="language-"] {
    border: none !important;
}

button {
    display: inline-flex;
    font: inherit;
    border: 1px solid var(--clr-accent);
    border-radius: .25em;
    background-color: transparent;
    padding: .5em 1em;
    box-shadow: 0 0 1em rgb(0 0 0 / .25);
}

button:hover {
    cursor: pointer;
    background-color: var(--clr-accent);
    box-shadow: 0 0 1em rgb(0 0 0 / .5);
}

input:not([type="checkbox"], [type="radio"], [type="range"], [type="file"]),
select,
textarea {
    display: inline-block;
    appearance: none;
    font: inherit;
    border: 1px solid var(--clr-accent);
    border-radius: .25em;
    background-color: transparent;
    padding: .5em 1em;
    box-shadow: 0 0 1em rgb(0 0 0 / .25);
}

textarea,
select[multiple] {
    height: auto;
}
